

<div class="animated fadeIn">
    <div class="row">
        
      
     
      <!--/.col-->
      <div class="col-lg-12">
          
        <div class="card">
          
          <div class="card-header">

            <i class="fa fa-align-justify"></i> Project Name 
                
          </div>
          <div class="card-body">
            <table class="table ">
              <thead>
                <tr>
                  <th>Items</th>
                  <th>Interest</th>
                  <th>Estimate </th>
                  <th>Quated</th>
                  <th>Status</th>
                                    
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>All joinery</td>
                  <td>
                          <label class="switch switch-text switch-pill switch-success-outline-alt">
                            <input type="checkbox" class="switch-input" checked>
                            <span class="switch-label" data-on="Yes" data-off="No"></span>
                            <span class="switch-handle"></span>
                          </label>                                         
                       
                    </td>
                  <td>12-11-2017</td>
                  <td> </td>
                  <td><span class="badge badge-success">Preparing Quote</span> </td>
                </tr>
                <tr>
                    <td>Kitchen</td>
                    <td>
                            <label class="switch switch-text switch-pill switch-success-outline-alt">
                              <input type="checkbox" class="switch-input" checked>
                              <span class="switch-label" data-on="Yes" data-off="No"></span>
                              <span class="switch-handle"></span>
                            </label>
                                                    
                      </td>
                    <td>12-11-2017</td>
                    <td> </td>
                    <td><span class="badge badge-success">Preparing Quote</span> </td>
                  </tr>
                  <tr>
                      <td>Bedroom</td>
                      <td>
                              <label class="switch switch-text switch-pill switch-success-outline-alt">
                                <input type="checkbox" class="switch-input" checked>
                                <span class="switch-label" data-on="Yes" data-off="No"></span>
                                <span class="switch-handle"></span>
                              </label>
                                                         
                        </td>
                      <td>12-11-2017</td>
                      <td> </td>
                      <td><span class="badge badge-success">waiting for client reponse</span> </td>
                    </tr>
                    <tr>
                        <td>laundry</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                       <tr>
                        <td>Study</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                       <tr>
                        <td>Other</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                       <tr>
                        <td>Benchtops</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                       <tr>
                        <td>Splashbacks</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                       <tr>
                        <td>Sinks/Tubs/Basins</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                       <tr>
                        <td>Tapware</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                       <tr>
                        <td>Sanitary ware</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                      <tr>
                        <td>  Aluminium Windows/Doors</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                      <tr>
                        <td>Aluminium Louvres</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                      <tr>
                        <td>Curtain Wall</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                      <tr>
                        <td>Balustrade</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                       <tr>
                        <td>Flooring</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                       <tr>
                        <td>Appliances</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                       <tr>
                        <td>Garage Doors</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                      
                       <tr>
                        <td>Other</td>
                        <td>
                                <label class="switch switch-text switch-pill switch-success-outline-alt">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                                  <span class="switch-handle"></span>
                                </label>
                               
                          </td>
                        <td>12-11-2017</td>
                        <td> </td>
                        <td><span class="badge badge-success">Preparing Quote</span> </td>
                      </tr>
                       
                    
               
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>

        </div>
      </div>

    <div class="col-lg-6">

      <div class="card">
          <div class="card-header">
            <strong>Supply Items</strong>
            <small>Form</small>
          </div>
          <div class="card-body">
                        
              <div class="form-group">
                <label for="company">Territory</label>
                <select id="select" name="select" class="form-control"  >
                <option value="1">EXW</option>      
                <option value="2">FOB</option>      
                <option value="3">CIF</option>      
                <option value="4">DDP</option>      
                <option value="5">Supply & Install</option>      
                
                </select>                
              </div>           

            </div><!--/.row-->
          
        </div>
    </div>
           </div>

      <!--/.col-->
    </div>
    <!--/.row-->
    
  </div>
  
